# This is a basic workflow to help you get started with Actions
name: Common Injection Test

# Run workflow when issue is opened
on:
  issues:
    types: [opened]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - id: test
        run: export TEMP_ENV="12"
      - id: foostep
        run: echo $FOO
        env:  
          FOO: ${{ github.event.issue.body }}
      - id: barstep
        run: echo $BAR 
        env:  
          BAR: ${{ github.event.issue.title }}
      - run: echo $TEMP_ENV
      - run: echo ${{ steps.barstep.outputs.injected }}
      - run: echo ${{ steps.foostep.outputs.injected }}
 
